<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="jpa测试">
    <test name="常规测试" preserve-order="true">
        <classes>
            <class name="com.zdw.UserDaoTest">
                <methods>
                    <include name="userInsertTest" />
                    <include name="updateByIdTest" />
                    <include name="updateByVipNoTest" />
                    <include name="selectByVipNoTest" />
                    <include name="deleteByVipNoTest" />
                    <include name="validateDeleteTest" />
                </methods>
            </class>
            <class name="com.zdw.AccountDaoTest">
                <methods>
                    <include name="accountInsertTest" />
                    <include name="updateBalanceByVipNoTest" />
                    <include name="accountSelectByVipNoTest" />
                    <include name="accountDeleteByVipNoTest" />
                    <include name="accountDeleteValidateTest" />
                </methods>
            </class>
            <class name="com.zdw.OrderDetailDaoTest">
                <methods>
                    <include name="orderDetailInsertTest" />
                    <include name="insert2Test" />
                    <include name="findByOrderIdAndProductIdTest" />
                    <include name="selectByOrderIdTest" />
                    <include name="deleteByOrderIdTest" />
                </methods>
            </class>
            <class name="com.zdw.OrderLogDaoTest">
                <methods>
                    <include name="insertOneTest" />
                    <include name="insertTwoTest" />
                    <include name="insertThreeTest" />
                    <include name="selectByOrderIdTest" />
                    <include name="deleteByOrderIdTest" />
                </methods>
            </class>
            <class name="com.zdw.OutBoundDetailDaoTest">
                <methods>
                    <include name="insertListTest" />
                    <include name="deleteByOrderId" />
                </methods>
            </class>
            <class name="com.zdw.OutBoundOrderDaoTest">
                <methods>
                    <include name="insertTest" />
                    <include name="deleteTest" />
                </methods>
            </class>
            <class name="com.zdw.PaymentDetailDaoTest">
                <methods>
                    <include name="testSimplePaymentInsert" />
                    <include name="testMixPaymentInsert" />
                    <include name="selectByOrderId" />
                    <include name="deleteByOrderId" />
                </methods>
            </class>
            <class name="com.zdw.ProductDaoTest">
                <methods>
                    <include name="insertProTest" />
                    <include name="updatePriceTest" />
                    <include name="selectByProductIdTest" />
                    <include name="deleteByProductIdTest" />
                </methods>
            </class>
            <class name="com.zdw.RefundDetailDaoTest">
                <methods>
                    <include name="insertOneTest" />
                    <include name="insertMoreTest" />
                    <include name="selectByOrderIdTest" />
                    <include name="deleteByOrderIdTest" />
                </methods>
            </class>
            <class name="com.zdw.SockManageDaoTest">
                <methods>
                    <include name="insertSockManageTest" />
                    <include name="updateByProductIdTest" />
                    <include name="selectByProductIdTest" />
                    <include name="deleteByProductId" />
                </methods>
            </class>
            <class name="com.zdw.VipOrderDaoTest">
                <methods>
                    <include name="insertOrderTest" />
                    <include name="updateStatusTest" />
                    <include name="findByOrderIdTest" />
                    <include name="deleteOrderTest" />
                </methods>
            </class>
        </classes>
    </test>
</suite>